<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/4693ee06e2.js"></script>
    <script src="./script/moment.js"></script>
    <title>Бонусная программа привет сосед</title>

    <style>
        .auth-p {
            text-align: center;
            font-size: 18px;
        }

        .pointer {
            cursor: pointer;
        }

        .user-data {
            color: #333;
            font-size: 17px;
            font-weight: bold;
        }

        #telefone-number {
            display: none;
        }

        .black {
            color: #000;
            font-size: 16px;
        }

        .border-bottom {
            border-bottom: 1px solid #000;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <%- body %>
    </div>

    <script src="/script/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>