<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">Здравствуйте</h1>
        <p class="auth-p">Для входа в личный кабинет нажмите на ссылку ниже</p>
        <a href="/user/login" class="btn btn-secondary">Авторизация</a>
      </div>
    </div>
</div>